html{
     font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}
@font-face {
    font-family: 'VirtuousSlabThin';
	src: url("assets/fonts/Virtuous Slab Font/VirtuousSlabThin.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:"Varela Regular";
	src: url("assets/fonts/OFL.txt");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GiraffeyRegular';
	src: url("assets/fonts/Giraffey/onlinefontconverter.com/converted-files/GiraffeyRegular.ttf");
	font-weight: normal;
	font-style: normal;
}

body {
    background-color: white;
}


.container {
	position: relative;
	text-align: center;
	color: #000000;
	padding: 0px;
	margin: 0px;
	
}

.text1{
	font-family: 'less light';
	font-size: 100px;
	color: #377180;
    position: absolute;
    top: 119px;
    bottom: 50%;
    left: 352px;
}
.myLogo {
	background: url("assets/images/header.jpg");
}
.smallLogo {
	background:url("assets/images/teens header crop.jpg");
}
.infoHeader{
	background: url("assets/images/hilda outside header.jpg");
}
.navbar {
  overflow: hidden;
  background-color: #333333;
}

.navbar a {
  float: left;
  font-size: 16px;
	font-family: "Varela Regular";
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'less light';
  margin: 0px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
title{
    font-family: 'Trade Winds', cursive;
}




h1 {
    padding: inherit;
    margin: 50px;
    bottom: 10px;
    text-align: left;
    color:darkred;
    font-family:"introheadr base";
    font-size: 15px;
}

h2 {
    margin: 10px;
    padding: 20px;
    bottom: 15px;
    left: 45px;
    right: 45px;
    top: 15px;
    text-align: center;
    color:#2D5D69;
    font-family:'less light';
    font-size: 10px;
}

h3 {
    position: relative;
    text-align: center;
    color:#27515C;
    font-family: 'less bold';
    font-size: 100px;
}

h4 {
	font: "introrustg base2";
	font-size: 20px;
	text-align: inherit;
	color: gray;
	margin: auto;
	
}

.cb97 {
    margin: auto;
    padding: inherit;
    text-align: left;
    color: darkred;
    font-family: monospace;
    font-size: 170%;
}
.spearB {
    margin: auto;
    padding: inherit;
    text-align: left;
    color: darkred;
    font-family: monospace;
    font-size: 170%;
}

h4 {
    text-align: left;
    color: antiquewhite;
    font-family: monospace;
    font-size: 150%;
}
.hello {
	text-align: center;
	text-decoration: underline black;
	font-family: 'GiraffeyRegular';
	color: black;
	font-size: 100px;
	
}

.panel{
	text-align: center;
	border-color: #000000;
	width:700px;
	float: left;
	position: absolute;
	text-decoration: underline;
	color: #377180;
	font-family: 'GiraffeyRegular';
	font-size: 90px;
	padding-top: 50px;
}

.panel2{
	text-align: right;
	width: 800px;
	float: right;
	font-size: 30px;
	padding-top: 150px;
	padding-right: 50px;
	font-family: 'VirtuousSlabThin';
}

.changbinPic{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 00px;
	margin-right: 0px;
}

.jisung{
	text-align: center;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	
}
.link{
	text-align: center;
	color: antiquewhite;
	font: "BebasNeue Regular";
	font-size: 15px;
	margin: 0px;
	padding: 0px;
}

footer{
	margin-top: 300px;

}
.end{
	margin: 40px;
	font: "introheadr base";
	font-size: 10px;
}
