html{
     font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}
@font-face {
    font-family: gruppo;
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:"Varela Regular";
	src: url("assets/fonts/OFL.txt");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'simplifica';
	src: url("assets/fonts/__MACOSX/SIMPLIFICA Typeface/._SIMPLIFICA Typeface.ttf");
	font-weight: normal;
	font-style: normal;
}

body {
    background-color: white;
}


.container {
	position: relative;
	text-align: center;
	color: #000000;
	padding: 0px;
	margin: 0px;
	
}

.text1{
	font-family: "Varela Regular";
	font-size: 100px;
	color: #377180;
    position: absolute;
    top: 119px;
    bottom: 50%;
    left: 352px;
}
.myLogo {
	background: url("assets/images/header.jpg")
}
.boxBoxGrey {
    border: 1px solid dimgray;
    background-color: dimgray;
}
.navbar {
  overflow: hidden;
  background-color: #333333;
}

.navbar a {
  float: left;
  font-size: 16px;
	font-family: "Varela Regular";
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Varela Regular";
  margin: 0px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
title{
    font-family: 'Trade Winds', cursive;
}

.kRap{
	text-align: center;
	font: "introheadr base";
	color: gray;
	font-size: 10px;
}



h1 {
    padding: inherit;
    margin: 50px;
    bottom: 10px;
    text-align: left;
    color:darkred;
    font-family:"introheadr base";
    font-size: 15px;
}

h2 {
    margin: 10px;
    padding: 20px;
    bottom: 15px;
    left: 45px;
    right: 45px;
    top: 15px;
    text-align: center;
    color:#2D5D69;
    font-family:"introheadr base";
    font-size: 10px;
}

h3 {
    position: absolute;
    text-align: center;
    color: black;
    font-family: "Varela Regular";
    font-size: 50px;
    top: 1px;
    bottom: 50%;
    left: -31px;
    right: 0%;
    width: 444px;
}

h4 {
	font: "introrustg base2";
	font-size: 20px;
	text-align: inherit;
	color: gray;
	margin: auto;
	
}

.cb97 {
    margin: auto;
    padding: inherit;
    text-align: left;
    color: darkred;
    font-family: monospace;
    font-size: 170%;
}
.spearB {
    margin: auto;
    padding: inherit;
    text-align: left;
    color: darkred;
    font-family: monospace;
    font-size: 170%;
}

h4 {
    text-align: left;
    color: antiquewhite;
    font-family: monospace;
    font-size: 150%;
}
p {
	color: antiquewhite;
    font-family:fantasy;
    font-size: 190%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li {
    float: left;
    clear: left;
    color: lightpink;
    text-align: left;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: darkred;
}
a {
    margin: auto;
    padding: 10px;
    color: darkolivegreen;
	text-align: left;
    font-family: monospace;
    font-size: 90%;
}


footer {
	margin: auto;
    padding: 10px;
    color: antiquewhite;
    text-align: justify;
    font-family: fantasy;
    font-size: 100%
}

hr {
	
}

button {
	
}

.allTogether{
	text-align: center;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	border-color: #000000;
}

.chrisPic{
	text-align: center;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
}

.changbinPic{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 00px;
	margin-right: 0px;
}

.jisung{
	text-align: center;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	
}
.link{
	text-align: center;
	color: antiquewhite;
	font: "BebasNeue Regular";
	font-size: 15px;
	margin: 0px;
	padding: 0px;
}

footer{
	margin-top: 300px;

}
.end{
	margin: 40px;
	font: "introheadr base";
	font-size: 10px;
}
